* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    padding: 20px;
    letter-spacing: 1px;
}

.profile-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    border-radius: 50px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
    padding: 40px;
    border-radius: 50px;
}

.profile-header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.name {
    margin-top: 20px;
}

.jurusan {
    font-size: 18px;
    margin-top: 10px;
}

.profile-info {
    padding: 30px;
}

.fakultas, .description {
    font-size: 15px;
}

.label {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color: #4566b2;
    text-transform: uppercase;
    margin-bottom: 5px;
}

hr {
    margin: 20px 0px 12px 0px;
}

.list-hobby {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hobby {
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}

.about-me {
    background-color: #f0f2f4d5;
    border-radius: 20px;
    padding: 15px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.contact-item img {
    width: 25px;
}